
.pagethree{
  &.animate{

    $t-human:.6s;
    $d-human:$t-pageani;
    .human{
      -webkit-animation:outofsight $d-human,
      bounceInDown $t-human $d-human;
      animation:outofsight $d-human,
      bounceInDown $t-human $d-human;
    }

    $t-zhangdanchaxun:.6s;
    $d-zhangdanchaxun:$t-human+$d-human;
    .zhangdanchaxun{
      -webkit-animation:outofsight $d-zhangdanchaxun, dropDown $t-zhangdanchaxun $d-zhangdanchaxun;
      animation:outofsight $d-zhangdanchaxun, dropDown $t-zhangdanchaxun $d-zhangdanchaxun;
    }
    $gSlidInDownDelay:.1s;
    $t-zhegegongne:.6s;
    $d-zhegegongne:$t-zhangdanchaxun+$d-zhangdanchaxun+$gSlidInDownDelay;
    .zhegegongne{
      -webkit-animation:outofsight $d-zhegegongne, dropDown $t-zhegegongne $d-zhegegongne;
      animation:outofsight $d-zhegegongne, dropDown $t-zhegegongne $d-zhegegongne;
    }

    $t-dajia:.6s;
    $d-dajia:$t-zhegegongne+$d-zhegegongne+$gSlidInDownDelay;
    .da,.jia{
      -webkit-animation:outofsight $d-dajia, dropDown $t-dajia $d-dajia;
      animation:outofsight $d-dajia, dropDown $t-dajia $d-dajia;
    }


    $t-xian:.6s;
    $d-xian:$t-dajia+$d-dajia+$gSlidInDownDelay;
    .xian{
      -webkit-animation:outofsight $d-xian, dropDown $t-xian $d-xian;
      animation:outofsight $d-xian, dropDown $t-xian $d-xian;
    }
    $t-zhidao:.6s;
    $d-zhidao:$t-dajia+$d-dajia+$gSlidInDownDelay;
    .zhidao,.tanhao{
      -webkit-animation:outofsight $d-zhidao, dropDown $t-zhidao $d-zhidao;
      animation:outofsight $d-zhidao, dropDown $t-zhidao $d-zhidao;
    }

    $t-buyongpaidui:.8s;
    $d-buyongpaidui:$t-zhidao+$d-zhidao;


    $t-guanzhugongzhonghao:.8s;
    $d-guanzhugongzhonghao:$d-buyongpaidui+$t-buyongpaidui;
    .guanzhugongzhonghao{
      -webkit-animation:outofsight $d-guanzhugongzhonghao,
      slideInUp $t-guanzhugongzhonghao $d-guanzhugongzhonghao,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
      animation:outofsight $d-guanzhugongzhonghao,
      slideInUp $t-guanzhugongzhonghao $d-guanzhugongzhonghao,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
      
    }

    .buyongpaidui{
      -webkit-animation:outofsight $d-buyongpaidui,
      dropDown $t-buyongpaidui $d-buyongpaidui,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
      animation:outofsight $d-buyongpaidui,
      dropDown $t-buyongpaidui $d-buyongpaidui,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
    }



  }

}



