
.pageone{
  &.animate{
    $t-water:.8s;
    $d-water:$t-pageani;
    .water{
      -webkit-animation:outofsight $d-water, fadeIn $t-water $d-water;
      animation:outofsight $d-water, fadeIn $t-water $d-water;
    }
    $t-human-l:.8s;
    $d-human-l:$t-water+$d-water;
    .human-l{
      -webkit-animation:outofsight $d-human-l, bounceInDown $t-human-l $d-human-l;
      animation:outofsight $d-human-l, bounceInDown $t-human-l $d-human-l;

    }


    $t-soap:.5s;
    $d-soap:$t-human-l+$d-human-l;
    .soap{
      -webkit-animation:outofsight $d-soap,
      bounceInDown $t-soap $d-soap;
      animation:outofsight $d-soap,
      bounceInDown $t-soap $d-soap;
      
    }

    $t-human-s:.5s;
    $d-human-s:$t-soap+$d-soap;
    .human-s{
      -webkit-animation:outofsight $d-human-s,  slideInLeft $t-human-s $d-human-s;
      animation:outofsight $d-human-s,  slideInLeft $t-human-s $d-human-s;


    }

    $t-star-s:.4s;
    $d-star-s:$d-human-s+$t-human-s;
    .star-s{
      -webkit-animation:outofsight $d-star-s,
      starShine $t-star-s $d-star-s;
      animation:outofsight $d-star-s,
      starShine $t-star-s $d-star-s;
    }

    $t-star-l:.6s;
    $d-star-l:$t-star-s+$d-star-s;
    .star-l{
      -webkit-animation:outofsight $d-star-l,
      starShine $t-star-l $d-star-l ,
      starShine2 1s $d-star-l+$t-star-l+.2s infinite linear;
      animation:outofsight $d-star-l,
      starShine $t-star-l $d-star-l ,
      starShine2 1s $d-star-l+$t-star-l+.2s infinite linear;

    }

    $t-liuliangshiyong:.6s;
    $d-liuliangshiyong:$t-star-l+$d-star-l;
    .liuliangshiyong{
      -webkit-animation:outofsight $d-liuliangshiyong, dropDown $t-liuliangshiyong $d-liuliangshiyong;
      animation:outofsight $d-liuliangshiyong, dropDown $t-liuliangshiyong $d-liuliangshiyong;

    }
    $gSlidInDownDelay:.1s;

    $t-zhegegongne:.6s;
    $d-zhegegongne:$t-liuliangshiyong+$d-liuliangshiyong+$gSlidInDownDelay;
    .zhegegongne{
      -webkit-backface-visibility: visible ;
      backface-visibility: visible ;
      -webkit-animation:outofsight $d-zhegegongne, dropDown $t-zhegegongne $d-zhegegongne;
      animation:outofsight $d-zhegegongne, dropDown $t-zhegegongne $d-zhegegongne;

    }

    $t-ji:.6s;
    $d-ji:$d-zhegegongne+$t-zhegegongne+$gSlidInDownDelay;
    .ji,.you{
      -webkit-animation: outofsight $d-ji,dropDown $t-ji $d-ji;
      animation: outofsight $d-ji,dropDown $t-ji $d-ji;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
    }
    $t-xian:.6s;
    $d-xian:$d-ji+$t-ji+$gSlidInDownDelay;
    .xian,.zhi,.dao,.tanhao{
      -webkit-animation:outofsight $d-xian,dropDown $t-xian $d-xian;
      animation:outofsight $d-xian,dropDown $t-xian $d-xian;

    }
    $t-liuliangchaobiao:.6s;
    $d-liuliangchaobiao:$d-xian+$t-xian;


    $t-guanzhugongzhonghao:.6s;
    $d-guanzhugongzhonghao:$t-liuliangchaobiao+$d-liuliangchaobiao;
    .guanzhugongzhonghao{
      -webkit-animation:outofsight $d-guanzhugongzhonghao,
      slideInUp $t-guanzhugongzhonghao $d-guanzhugongzhonghao,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
      animation:outofsight $d-guanzhugongzhonghao,
      slideInUp $t-guanzhugongzhonghao $d-guanzhugongzhonghao,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
      
    }

    .liuliangchaobiao{
      -webkit-animation:outofsight $d-liuliangchaobiao,
      dropDown $t-liuliangchaobiao $d-liuliangchaobiao,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
      animation:outofsight $d-liuliangchaobiao,
      dropDown $t-liuliangchaobiao $d-liuliangchaobiao,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
    }

    .downarrow{
      -webkit-animation:outofsight $d-guanzhugongzhonghao,
      slideInUp $t-guanzhugongzhonghao $d-guanzhugongzhonghao,
      flash 3s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
      animation:outofsight $d-guanzhugongzhonghao,
      slideInUp $t-guanzhugongzhonghao $d-guanzhugongzhonghao,
      flash 3s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;

    }


  }

}



