
.pagetwo{
  &.animate{

    $t-human:.6s;
    $d-human:$t-pageani;
    .human{
      -webkit-animation:outofsight $d-human,
      bounceInDown $t-human $d-human,
      yaohuang .8s $t-human+$d-human linear;
      animation:outofsight $d-human,
      bounceInDown $t-human $d-human,
      yaohuang .8s $t-human+$d-human linear;
    }

    $t-huafeiyue:.6s;
    $d-huafeiyue:$t-human+$d-human;
    .huafeiyue{
      -webkit-animation:outofsight $d-huafeiyue, dropDown $t-huafeiyue $d-huafeiyue;
      animation:outofsight $d-huafeiyue, dropDown $t-huafeiyue $d-huafeiyue;
    }
    $gSlidInDownDelay:.1s;
    $t-zhegegongne:.6s;
    $d-zhegegongne:$t-huafeiyue+$d-huafeiyue+$gSlidInDownDelay;
    .zhegegongne{
      -webkit-animation:outofsight $d-zhegegongne, dropDown $t-zhegegongne $d-zhegegongne;
      animation:outofsight $d-zhegegongne, dropDown $t-zhegegongne $d-zhegegongne;
    }

    $t-gui:.6s;
    $d-gui:$t-zhegegongne+$d-zhegegongne+$gSlidInDownDelay;
    .gui{
      -webkit-animation:outofsight $d-gui, dropDown $t-gui $d-gui;
      animation:outofsight $d-gui, dropDown $t-gui $d-gui;
    }

    $t-mi:.6s;
    $d-mi:$t-zhegegongne+$d-zhegegongne+$gSlidInDownDelay;
    .mi{
      -webkit-animation:outofsight $d-mi, dropDown $t-mi $d-mi;
      animation:outofsight $d-mi, dropDown $t-mi $d-mi;
    }

    $t-xianzhidao:.6s;
    $d-xianzhidao:$t-mi+$d-mi+$gSlidInDownDelay;
    .xian,.zhi{
      -webkit-animation:outofsight $d-xianzhidao, dropDown $t-xianzhidao $d-xianzhidao;
      animation:outofsight $d-xianzhidao, dropDown $t-xianzhidao $d-xianzhidao;
    }
    $t-tanhao:.6s;
    $d-tanhao:$t-mi+$d-mi+$gSlidInDownDelay;
    .dao,.tanhao{
      -webkit-animation:outofsight $d-tanhao, dropDown $t-tanhao $d-tanhao;
      animation:outofsight $d-tanhao, dropDown $t-tanhao $d-tanhao;
    }

    $t-haiyouhuafei:.8s;
    $d-haiyouhuafei:$t-tanhao+$d-tanhao;


    $t-guanzhugongzhonghao:.8s;
    $d-guanzhugongzhonghao:$d-haiyouhuafei+$t-haiyouhuafei;
    .guanzhugongzhonghao{
      -webkit-animation:outofsight $d-guanzhugongzhonghao,
      slideInUp $t-guanzhugongzhonghao $d-guanzhugongzhonghao,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
      animation:outofsight $d-guanzhugongzhonghao,
      slideInUp $t-guanzhugongzhonghao $d-guanzhugongzhonghao,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
      
    }

    .haiyouhuafei{
      -webkit-animation:outofsight $d-haiyouhuafei,
      dropDown $t-haiyouhuafei $d-haiyouhuafei,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
      animation:outofsight $d-haiyouhuafei,
      dropDown $t-haiyouhuafei $d-haiyouhuafei,
      upAndDown 1s $t-guanzhugongzhonghao+$d-guanzhugongzhonghao infinite linear;
    }



  }

}



