
.pagefour{
  &.animate{

    $t-laidoulaile:.6s;
    $d-laidoulaile:$t-pageani;
    .laidoulaile{
      -webkit-animation:outofsight $d-laidoulaile, dropDown $t-laidoulaile $d-laidoulaile;
      animation:outofsight $d-laidoulaile, dropDown $t-laidoulaile $d-laidoulaile;
    }
    $gSlidInDownDelay:.1s;

    $t-mashangguanzhu:.6s;
    $d-mashangguanzhu:$d-laidoulaile;
    .mashangguanzhu{
      -webkit-animation:outofsight $d-mashangguanzhu, dropDown $t-mashangguanzhu $d-mashangguanzhu;
      animation:outofsight $d-mashangguanzhu, dropDown $t-mashangguanzhu $d-mashangguanzhu;
    }
    $t-tianyiyonghuzhongxin:.6s;
    $d-tianyiyonghuzhongxin:$t-mashangguanzhu+$d-mashangguanzhu+$gSlidInDownDelay;
    .tianyiyonghuzhongxin{
      -webkit-animation:outofsight $d-tianyiyonghuzhongxin, dropDown $t-tianyiyonghuzhongxin $d-tianyiyonghuzhongxin;
      animation:outofsight $d-tianyiyonghuzhongxin, dropDown $t-tianyiyonghuzhongxin $d-tianyiyonghuzhongxin;
    }

    $t-quanzhangwo:.6s;
    $d-quanzhangwo:$d-tianyiyonghuzhongxin;
    .quanzhangwo{
      -webkit-animation:outofsight $d-quanzhangwo, dropDown $t-quanzhangwo $d-quanzhangwo;
      animation:outofsight $d-quanzhangwo, dropDown $t-quanzhangwo $d-quanzhangwo;
    }


    $t-qrcode:.6s;
    $d-qrcode:$t-quanzhangwo+$d-quanzhangwo;
    .qrcode{
      -webkit-animation:outofsight $d-qrcode, dropDown $t-qrcode $d-qrcode;
      animation:outofsight $d-qrcode, dropDown $t-qrcode $d-qrcode;

    }

    $t-figure:.6s;
    $d-figure:$d-qrcode+$t-qrcode;



    $t-shibieerweima:.8s;
    $d-shibieerweima:$t-figure+$d-figure;
    .shibieerweima{
      -webkit-animation:outofsight $d-shibieerweima,
      slideInUp $t-shibieerweima $d-shibieerweima,
      upAndDown 1s $d-shibieerweima+$t-shibieerweima infinite linear;
      animation:outofsight $d-shibieerweima,
      slideInUp $t-shibieerweima $d-shibieerweima,
      upAndDown 1s $d-shibieerweima+$t-shibieerweima infinite linear;

    }

    .figure{
      -webkit-animation:outofsight $d-figure,
      slideInDown $t-figure $d-figure,
      upAndDown 1s $d-shibieerweima+$t-shibieerweima infinite linear;
      animation:outofsight $d-figure,
      slideInDown $t-figure $d-figure,
      upAndDown 1s $d-shibieerweima+$t-shibieerweima infinite linear;
    }

  }

}



