@-webkit-keyframes outofsight{
  0%,100%{
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
  }
}
@keyframes outofsight{
  0%,100%{
    transform: translate3d(0, -3000px, 0);
  }
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@-webkit-keyframes starShine {
  0%{
    -webkit-transform: scale3d(0,0,0) ;
  }
  70%{
    -webkit-transform: scale3d(1.4,1.4,1) ;

  }
  100%{
    -webkit-transform: scale3d(1,1,1) ;
  }
}
@keyframes starShine {
  0%{
    transform: scale3d(0,0,0) ;
  }
  70%{
    transform: scale3d(1.4,1.4,1) ;

  }
  100%{
    transform: scale3d(1,1,1) ;
  }
}
@-webkit-keyframes starShine2 {
  0%{
    -webkit-transform: scale3d(1,1,1) ;
  }
  70%{
    -webkit-transform: scale3d(1.4,1.4,1) ;

  }
  100%{
    -webkit-transform: scale3d(1,1,1) ;
  }
}
@keyframes starShine2 {
  0%{
    transform: scale3d(1,1,1) ;
  }
  70%{
    transform: scale3d(1.4,1.4,1) ;

  }
  100%{
    transform: scale3d(1,1,1) ;
  }
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: none;
  }
}

@-webkit-keyframes upAndDown {
  0%,100%{
    -webkit-transform: translateY(0);
  }
  50%{
    -webkit-transform: translateY(10px);
  }
}
@keyframes upAndDown {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
}

@-webkit-keyframes dropDown {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0%{
    -webkit-transform:scale3d(4,4,4);
  }
  60%{
    -webkit-transform:scale3d(1,1,1);
  }

  80%{
    -webkit-transform:scale3d(1.1,1.1,1.1);
  }
  100%{
    -webkit-transform:scale3d(1,1,1);
  }
}

@keyframes dropDown {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0%{
    transform:scale3d(4,4,4);
  }
  60%{
    transform:scale3d(1,1,1);
  }

  80%{
    transform:scale3d(1.1,1.1,1.1);
  }
  100%{
    transform:scale3d(1,1,1);
  }
}

@-webkit-keyframes yaohuang {
  0%{
    -webkit-transform: rotate(0deg);
  }
  25%{
    -webkit-transform: rotate(-15deg);
  }
  75%{
    -webkit-transform: rotate(15deg);
  }
  100%{
    -webkit-transform: rotate(0deg);
  }
}
@keyframes yaohuang {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-15deg);
  }
  75%{
    transform: rotate(15deg);
  }
  100%{
    transform: rotate(0deg);
  }
}