@charset "utf-8";

//自动雪碧图
@import "compass/utilities/sprites";
*{
  -webkit-user-select: none;

}
a, input, button {
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
html,body,
.loading,
.container,
.page{
  position: relative;
  width:100%;
  height:100%;
}
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin:0;
}
.rotate90{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.rotate-90{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.over-hidden{
  overflow: hidden;
}
.none{
  display: none;
}
image{
  margin:0;
  border:0;
}

.loading{
  background: #fc7e44;
  z-index: 10;
}
//progress-bar
.progress-bar{
  position:absolute;
  left:5%;
  right:5%;
  top:40%;
  $h:20px;
  height:$h;
  margin-top: - $h/2;
  $radius:10px;
  border-radius: $radius+2;
  border:2px solid #c45c24;
  background: #c45c24;
  .progress-percentage{
    position: relative;
    display: inline-block;
    background: #fcaf44;
    height:100%;
    border-radius: $radius;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  .percentage-num{
    position: absolute;
    left:0;
    top:150%;
    width:100%;
    text-align: center;
    font-size: 14px;
    color:#fcaf44;
  }
}

//背景适配与位置计算
@mixin aniEleBG_POS($name,$page,$marL:0,$marT:0,$top:50%,$r:750px){

  .#{$name}{
    $url:'wap/wechat-public/publicize/#{$page}/#{$name}.png';
    $w:image-width($url);
    $h:image-height($url);
    $wPercentage:$w/$r*100%;
    $padPercentage:$h/$w*$wPercentage;
    top:$top;
    padding-top:$padPercentage;
    margin-left:$wPercentage*$marL;
    margin-top:$padPercentage*$marT;
    width:$wPercentage;
    background: image-url($url) no-repeat;
    background-size: 100% 100%;
  }
}
.page .aniel{
  position: absolute;
  left:50%;
}
//pageone
.pageone{
  background: image-url('wap/wechat-public/publicize/p1/bg.png');
  background-size: cover;
  $textPath:p1/text;
  @include aniEleBG_POS(liuliangshiyong,$textPath,-.65,.31,0);
  @include aniEleBG_POS(zhegegongne,$textPath,-.63,2.5,0);
  @include aniEleBG_POS(ji,$textPath,-1.7,1.45,0);
  @include aniEleBG_POS(you,$textPath,.5,1.45,0);
  @include aniEleBG_POS(xian,$textPath,-3.2,4.45,0);
  @include aniEleBG_POS(zhi,$textPath,-2.2,4.5,0);
  @include aniEleBG_POS(dao,$textPath,1.2,4.3,0);
  @include aniEleBG_POS(tanhao,$textPath,10.5,4.85,0);
  @include aniEleBG_POS(liuliangchaobiao,$textPath,-2.3,0);
  @include aniEleBG_POS(guanzhugongzhonghao,$textPath,-.5,.85);
  $path:p1;
  @include aniEleBG_POS(human-l,$path,-.55,-.53);
  @include aniEleBG_POS(human-s,$path,.65,-.35);
  @include aniEleBG_POS(soap,$path,7,6);
  @include aniEleBG_POS(star-l,$path,-2.8,-3.5);
  @include aniEleBG_POS(star-s,$path,8.4,.8);
  @include aniEleBG_POS(water,$path,-.5,.1);
  @include aniEleBG_POS(downarrow,$path,-.5,5.5);
}
@import "ani_keyframes";
$t-pageani:.5s;
.page{
  &.animate{
    z-index: 2;
    position:absolute;
    top:0;
    left:0;
    &.up{
      -webkit-animation: slideInUp $t-pageani;
      animation: slideInUp $t-pageani;
    }
    &.down{
      -webkit-animation: slideInDown $t-pageani;
      animation: slideInDown $t-pageani;
    }
    .aniel{
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }
  }
  &.play{
    .aniel{
      -webkit-animation-play-state: running;
      animation-play-state: running;
    }
  }
}
@import "ani_pageone";
//pagetwo
.pagetwo{
  background: image-url('wap/wechat-public/publicize/p2/bg.png');
  background-size: cover;
  $textPath:p2/text;
  @include aniEleBG_POS(huafeiyue,$textPath,-.65,.31,0);
  @include aniEleBG_POS(zhegegongne,$textPath,-.63,2.5,0);
  @include aniEleBG_POS(gui,$textPath,-1.75,1.45,0);
  @include aniEleBG_POS(mi,$textPath,-1.7,2.4,0);
  @include aniEleBG_POS(xian,$textPath,-3.6,7.15,0);
  @include aniEleBG_POS(zhi,$textPath,-2.5,7.32,0);
  @include aniEleBG_POS(dao,$textPath,-3.5,8.2,0);
  @include aniEleBG_POS(tanhao,$textPath,-10.5,9.15,0);
  @include aniEleBG_POS(haiyouhuafei,$textPath,-.75,1.65);
  @include aniEleBG_POS(guanzhugongzhonghao,$textPath,-.5,.85);
  $path:p2;
  @include aniEleBG_POS(human,$path,-.4,.21,0);
}
@import "ani_pagetwo";
//pagethree
.pagethree{
  background: image-url('wap/wechat-public/publicize/p3/bg.png');
  background-size: cover;
  $textPath:p3/text;
  @include aniEleBG_POS(zhangdanchaxun,$textPath,-.65,.31,0);
  @include aniEleBG_POS(zhegegongne,$textPath,-.63,2.5,0);
  @include aniEleBG_POS(da,$textPath,-1.75,1.5,0);
  @include aniEleBG_POS(jia,$textPath,-.6,1.45,0);
  @include aniEleBG_POS(xian,$textPath,1.1,2.95,0);
  @include aniEleBG_POS(zhidao,$textPath,.5,3.9,0);
  @include aniEleBG_POS(tanhao,$textPath,15.5,4.4,0);
  @include aniEleBG_POS(buyongpaidui,$textPath,.85,3.5,0);
  @include aniEleBG_POS(guanzhugongzhonghao,$textPath,-.5,.85);
  $path:p3;
  @include aniEleBG_POS(human,$path,-.5,-.35);
}
@import "ani_pagethree";
//pagethree
.pagefour{
  background: image-url('wap/wechat-public/publicize/p4/bg.png');
  background-size: cover;
  $textPath:p4/text;
  @include aniEleBG_POS(laidoulaile,$textPath,-.95,.55,0);
  @include aniEleBG_POS(mashangguanzhu,$textPath,-.66,2.2,0);
  @include aniEleBG_POS(tianyiyonghuzhongxin,$textPath,-.5,2.2,0);
  @include aniEleBG_POS(quanzhangwo,$textPath,-.51,5.2,0);
  @include aniEleBG_POS(shibieerweima,$textPath,-.5,8.65,0);
  $path:p4;
  @include aniEleBG_POS(figure,$path,-.1,12.5,0);
  @include aniEleBG_POS(qrcode,$path,-.5,1.08,0);

  .qrcode-img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    max-width: 100%;
  }
}
@import "ani_pagefour";
.landscape-tips{
  position: fixed;
  display: none;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 2;
  background: #ff7967;
  text-align: center;
  .phone{
    display: inline-block;
    $time:1.6s;
    -webkit-animation: yaohuang $time infinite linear ;
    animation: yaohuang $time infinite linear ;
  }
  $r:1334px;
  .tips-text{
    margin-top:57px/$r*100%;
    font-size: 20px;
    color:#fff;
  }
  @include aniEleBG_POS(phone,p1,0,1,50%,$r);

}
