/* line 5, ../../../sass/wap/wechat-public/publicize.scss */
* {
  -webkit-user-select: none;
}

/* line 10, ../../../sass/wap/wechat-public/publicize.scss */
a:hover, a:active, a:focus, input:hover, input:active, input:focus, button:hover, button:active, button:focus {
  outline: none;
}

/* line 16, ../../../sass/wap/wechat-public/publicize.scss */
html, body,
.loading,
.container,
.page {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 24, ../../../sass/wap/wechat-public/publicize.scss */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
}

/* line 28, ../../../sass/wap/wechat-public/publicize.scss */
.rotate90 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 32, ../../../sass/wap/wechat-public/publicize.scss */
.rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 36, ../../../sass/wap/wechat-public/publicize.scss */
.over-hidden {
  overflow: hidden;
}

/* line 39, ../../../sass/wap/wechat-public/publicize.scss */
.none {
  display: none;
}

/* line 42, ../../../sass/wap/wechat-public/publicize.scss */
image {
  margin: 0;
  border: 0;
}

/* line 47, ../../../sass/wap/wechat-public/publicize.scss */
.loading {
  background: #fc7e44;
  z-index: 10;
}

/* line 52, ../../../sass/wap/wechat-public/publicize.scss */
.progress-bar {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 40%;
  height: 20px;
  margin-top: -10px;
  border-radius: 12px;
  border: 2px solid #c45c24;
  background: #c45c24;
}
/* line 64, ../../../sass/wap/wechat-public/publicize.scss */
.progress-bar .progress-percentage {
  position: relative;
  display: inline-block;
  background: #fcaf44;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: width .3s;
  transition: width .3s;
}
/* line 73, ../../../sass/wap/wechat-public/publicize.scss */
.progress-bar .percentage-num {
  position: absolute;
  left: 0;
  top: 150%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #fcaf44;
}

/* line 102, ../../../sass/wap/wechat-public/publicize.scss */
.page .aniel {
  position: absolute;
  left: 50%;
}

/* line 107, ../../../sass/wap/wechat-public/publicize.scss */
.pageone {
  background: url('../../../images/wap/wechat-public/publicize/p1/bg.png?1433238958');
  background-size: cover;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .liuliangshiyong {
  top: 0;
  padding-top: 16.8%;
  margin-left: -43.76667%;
  margin-top: 5.208%;
  width: 67.33333%;
  background: url('../../../images/wap/wechat-public/publicize/p1/text/liuliangshiyong.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .zhegegongne {
  top: 0;
  padding-top: 9.33333%;
  margin-left: -43.932%;
  margin-top: 23.33333%;
  width: 69.73333%;
  background: url('../../../images/wap/wechat-public/publicize/p1/text/zhegegongne.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .ji {
  top: 0;
  padding-top: 24.66667%;
  margin-left: -44.65333%;
  margin-top: 35.76667%;
  width: 26.26667%;
  background: url('../../../images/wap/wechat-public/publicize/p1/text/ji.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .you {
  top: 0;
  padding-top: 24.13333%;
  margin-left: 13.13333%;
  margin-top: 34.99333%;
  width: 26.26667%;
  background: url('../../../images/wap/wechat-public/publicize/p1/text/you.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .xian {
  top: 0;
  padding-top: 14.0%;
  margin-left: -44.37333%;
  margin-top: 62.3%;
  width: 13.86667%;
  background: url('../../../images/wap/wechat-public/publicize/p1/text/xian.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .zhi {
  top: 0;
  padding-top: 13.86667%;
  margin-left: -30.50667%;
  margin-top: 62.4%;
  width: 13.86667%;
  background: url('../../../images/wap/wechat-public/publicize/p1/text/zhi.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .dao {
  top: 0;
  padding-top: 14.26667%;
  margin-left: 16.8%;
  margin-top: 61.34667%;
  width: 14.0%;
  background: url('../../../images/wap/wechat-public/publicize/p1/text/dao.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .tanhao {
  top: 0;
  padding-top: 12.93333%;
  margin-left: 32.2%;
  margin-top: 62.72667%;
  width: 3.06667%;
  background: url('../../../images/wap/wechat-public/publicize/p1/text/tanhao.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .liuliangchaobiao {
  top: 50%;
  padding-top: 10.0%;
  margin-left: -45.08%;
  margin-top: 0%;
  width: 19.6%;
  background: url('../../../images/wap/wechat-public/publicize/p1/text/liuliangchaobiao.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .guanzhugongzhonghao {
  top: 50%;
  padding-top: 35.46667%;
  margin-left: -46.06667%;
  margin-top: 30.14667%;
  width: 92.13333%;
  background: url('../../../images/wap/wechat-public/publicize/p1/text/guanzhugongzhonghao.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .human-l {
  top: 50%;
  padding-top: 101.6%;
  margin-left: -25.59333%;
  margin-top: -53.848%;
  width: 46.53333%;
  background: url('../../../images/wap/wechat-public/publicize/p1/human-l.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .human-s {
  top: 50%;
  padding-top: 22.26667%;
  margin-left: 14.12667%;
  margin-top: -7.79333%;
  width: 21.73333%;
  background: url('../../../images/wap/wechat-public/publicize/p1/human-s.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .soap {
  top: 50%;
  padding-top: 2.13333%;
  margin-left: 28%;
  margin-top: 12.8%;
  width: 4%;
  background: url('../../../images/wap/wechat-public/publicize/p1/soap.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .star-l {
  top: 50%;
  padding-top: 10%;
  margin-left: -24.64%;
  margin-top: -35%;
  width: 8.8%;
  background: url('../../../images/wap/wechat-public/publicize/p1/star-l.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .star-s {
  top: 50%;
  padding-top: 4.4%;
  margin-left: 30.24%;
  margin-top: 3.52%;
  width: 3.6%;
  background: url('../../../images/wap/wechat-public/publicize/p1/star-s.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .water {
  top: 50%;
  padding-top: 56.0%;
  margin-left: -43%;
  margin-top: 5.6%;
  width: 86%;
  background: url('../../../images/wap/wechat-public/publicize/p1/water.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pageone .downarrow {
  top: 50%;
  padding-top: 9.6%;
  margin-left: -5.86667%;
  margin-top: 52.8%;
  width: 11.73333%;
  background: url('../../../images/wap/wechat-public/publicize/p1/downarrow.png?1433238958') no-repeat;
  background-size: 100% 100%;
}

@-webkit-keyframes outofsight {
  0%,100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
  }
}
@keyframes outofsight {
  0%,100% {
    transform: translate3d(0, -3000px, 0);
  }
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-webkit-keyframes starShine {
  0% {
    -webkit-transform: scale3d(0, 0, 0);
  }
  70% {
    -webkit-transform: scale3d(1.4, 1.4, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes starShine {
  0% {
    transform: scale3d(0, 0, 0);
  }
  70% {
    transform: scale3d(1.4, 1.4, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes starShine2 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  70% {
    -webkit-transform: scale3d(1.4, 1.4, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes starShine2 {
  0% {
    transform: scale3d(1, 1, 1);
  }
  70% {
    transform: scale3d(1.4, 1.4, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes upAndDown {
  0%,100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
  }
}
@keyframes upAndDown {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@-webkit-keyframes dropDown {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    -webkit-transform: scale3d(4, 4, 4);
  }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes dropDown {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: scale3d(4, 4, 4);
  }
  60% {
    transform: scale3d(1, 1, 1);
  }
  80% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes yaohuang {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes yaohuang {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* line 133, ../../../sass/wap/wechat-public/publicize.scss */
.page.animate {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 138, ../../../sass/wap/wechat-public/publicize.scss */
.page.animate.up {
  -webkit-animation: slideInUp 0.5s;
  animation: slideInUp 0.5s;
}
/* line 142, ../../../sass/wap/wechat-public/publicize.scss */
.page.animate.down {
  -webkit-animation: slideInDown 0.5s;
  animation: slideInDown 0.5s;
}
/* line 146, ../../../sass/wap/wechat-public/publicize.scss */
.page.animate .aniel {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* line 154, ../../../sass/wap/wechat-public/publicize.scss */
.page.play .aniel {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

/* line 6, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .water {
  -webkit-animation: outofsight 0.5s, fadeIn 0.8s 0.5s;
  animation: outofsight 0.5s, fadeIn 0.8s 0.5s;
}
/* line 12, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .human-l {
  -webkit-animation: outofsight 1.3s, bounceInDown 0.8s 1.3s;
  animation: outofsight 1.3s, bounceInDown 0.8s 1.3s;
}
/* line 21, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .soap {
  -webkit-animation: outofsight 2.1s, bounceInDown 0.5s 2.1s;
  animation: outofsight 2.1s, bounceInDown 0.5s 2.1s;
}
/* line 31, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .human-s {
  -webkit-animation: outofsight 2.6s, slideInLeft 0.5s 2.6s;
  animation: outofsight 2.6s, slideInLeft 0.5s 2.6s;
}
/* line 40, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .star-s {
  -webkit-animation: outofsight 3.1s, starShine 0.4s 3.1s;
  animation: outofsight 3.1s, starShine 0.4s 3.1s;
}
/* line 49, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .star-l {
  -webkit-animation: outofsight 3.5s, starShine 0.6s 3.5s, starShine2 1s 4.3s infinite linear;
  animation: outofsight 3.5s, starShine 0.6s 3.5s, starShine2 1s 4.3s infinite linear;
}
/* line 61, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .liuliangshiyong {
  -webkit-animation: outofsight 4.1s, dropDown 0.6s 4.1s;
  animation: outofsight 4.1s, dropDown 0.6s 4.1s;
}
/* line 70, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .zhegegongne {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation: outofsight 4.8s, dropDown 0.6s 4.8s;
  animation: outofsight 4.8s, dropDown 0.6s 4.8s;
}
/* line 80, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .ji, .pageone.animate .you {
  -webkit-animation: outofsight 5.5s, dropDown 0.6s 5.5s;
  animation: outofsight 5.5s, dropDown 0.6s 5.5s;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/* line 88, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .xian, .pageone.animate .zhi, .pageone.animate .dao, .pageone.animate .tanhao {
  -webkit-animation: outofsight 6.2s, dropDown 0.6s 6.2s;
  animation: outofsight 6.2s, dropDown 0.6s 6.2s;
}
/* line 99, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .guanzhugongzhonghao {
  -webkit-animation: outofsight 7.4s, slideInUp 0.6s 7.4s, upAndDown 1s 8.0s infinite linear;
  animation: outofsight 7.4s, slideInUp 0.6s 7.4s, upAndDown 1s 8.0s infinite linear;
}
/* line 109, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .liuliangchaobiao {
  -webkit-animation: outofsight 6.8s, dropDown 0.6s 6.8s, upAndDown 1s 8.0s infinite linear;
  animation: outofsight 6.8s, dropDown 0.6s 6.8s, upAndDown 1s 8.0s infinite linear;
}
/* line 118, ../../../sass/wap/wechat-public/_ani_pageone.scss */
.pageone.animate .downarrow {
  -webkit-animation: outofsight 7.4s, slideInUp 0.6s 7.4s, flash 3s 8.0s infinite linear;
  animation: outofsight 7.4s, slideInUp 0.6s 7.4s, flash 3s 8.0s infinite linear;
}

/* line 162, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo {
  background: url('../../../images/wap/wechat-public/publicize/p2/bg.png?1433238958');
  background-size: cover;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .huafeiyue {
  top: 0;
  padding-top: 16.53333%;
  margin-left: -43.85333%;
  margin-top: 5.12533%;
  width: 67.46667%;
  background: url('../../../images/wap/wechat-public/publicize/p2/text/huafeiyue.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .zhegegongne {
  top: 0;
  padding-top: 9.33333%;
  margin-left: -43.932%;
  margin-top: 23.33333%;
  width: 69.73333%;
  background: url('../../../images/wap/wechat-public/publicize/p2/text/zhegegongne.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .gui {
  top: 0;
  padding-top: 24.13333%;
  margin-left: -44.1%;
  margin-top: 34.99333%;
  width: 25.2%;
  background: url('../../../images/wap/wechat-public/publicize/p2/text/gui.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .mi {
  top: 0;
  padding-top: 25.2%;
  margin-left: -44.42667%;
  margin-top: 60.48%;
  width: 26.13333%;
  background: url('../../../images/wap/wechat-public/publicize/p2/text/mi.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .xian {
  top: 0;
  padding-top: 12.4%;
  margin-left: -43.68%;
  margin-top: 88.66%;
  width: 12.13333%;
  background: url('../../../images/wap/wechat-public/publicize/p2/text/xian.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .zhi {
  top: 0;
  padding-top: 12.13333%;
  margin-left: -30.33333%;
  margin-top: 88.816%;
  width: 12.13333%;
  background: url('../../../images/wap/wechat-public/publicize/p2/text/zhi.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .dao {
  top: 0;
  padding-top: 12.53333%;
  margin-left: -42.93333%;
  margin-top: 102.77333%;
  width: 12.26667%;
  background: url('../../../images/wap/wechat-public/publicize/p2/text/dao.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .tanhao {
  top: 0;
  padding-top: 11.33333%;
  margin-left: -28.0%;
  margin-top: 103.7%;
  width: 2.66667%;
  background: url('../../../images/wap/wechat-public/publicize/p2/text/tanhao.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .haiyouhuafei {
  top: 50%;
  padding-top: 12.4%;
  margin-left: -23.1%;
  margin-top: 20.46%;
  width: 30.8%;
  background: url('../../../images/wap/wechat-public/publicize/p2/text/haiyouhuafei.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .guanzhugongzhonghao {
  top: 50%;
  padding-top: 35.46667%;
  margin-left: -46.06667%;
  margin-top: 30.14667%;
  width: 92.13333%;
  background: url('../../../images/wap/wechat-public/publicize/p2/text/guanzhugongzhonghao.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagetwo .human {
  top: 0;
  padding-top: 107.6%;
  margin-left: -32%;
  margin-top: 22.596%;
  width: 80%;
  background: url('../../../images/wap/wechat-public/publicize/p2/human.png?1433238958') no-repeat;
  background-size: 100% 100%;
}

/* line 7, ../../../sass/wap/wechat-public/_ani_pagetwo.scss */
.pagetwo.animate .human {
  -webkit-animation: outofsight 0.5s, bounceInDown 0.6s 0.5s, yaohuang 0.8s 1.1s linear;
  animation: outofsight 0.5s, bounceInDown 0.6s 0.5s, yaohuang 0.8s 1.1s linear;
}
/* line 18, ../../../sass/wap/wechat-public/_ani_pagetwo.scss */
.pagetwo.animate .huafeiyue {
  -webkit-animation: outofsight 1.1s, dropDown 0.6s 1.1s;
  animation: outofsight 1.1s, dropDown 0.6s 1.1s;
}
/* line 25, ../../../sass/wap/wechat-public/_ani_pagetwo.scss */
.pagetwo.animate .zhegegongne {
  -webkit-animation: outofsight 1.8s, dropDown 0.6s 1.8s;
  animation: outofsight 1.8s, dropDown 0.6s 1.8s;
}
/* line 32, ../../../sass/wap/wechat-public/_ani_pagetwo.scss */
.pagetwo.animate .gui {
  -webkit-animation: outofsight 2.5s, dropDown 0.6s 2.5s;
  animation: outofsight 2.5s, dropDown 0.6s 2.5s;
}
/* line 39, ../../../sass/wap/wechat-public/_ani_pagetwo.scss */
.pagetwo.animate .mi {
  -webkit-animation: outofsight 2.5s, dropDown 0.6s 2.5s;
  animation: outofsight 2.5s, dropDown 0.6s 2.5s;
}
/* line 46, ../../../sass/wap/wechat-public/_ani_pagetwo.scss */
.pagetwo.animate .xian, .pagetwo.animate .zhi {
  -webkit-animation: outofsight 3.2s, dropDown 0.6s 3.2s;
  animation: outofsight 3.2s, dropDown 0.6s 3.2s;
}
/* line 52, ../../../sass/wap/wechat-public/_ani_pagetwo.scss */
.pagetwo.animate .dao, .pagetwo.animate .tanhao {
  -webkit-animation: outofsight 3.2s, dropDown 0.6s 3.2s;
  animation: outofsight 3.2s, dropDown 0.6s 3.2s;
}
/* line 63, ../../../sass/wap/wechat-public/_ani_pagetwo.scss */
.pagetwo.animate .guanzhugongzhonghao {
  -webkit-animation: outofsight 4.6s, slideInUp 0.8s 4.6s, upAndDown 1s 5.4s infinite linear;
  animation: outofsight 4.6s, slideInUp 0.8s 4.6s, upAndDown 1s 5.4s infinite linear;
}
/* line 73, ../../../sass/wap/wechat-public/_ani_pagetwo.scss */
.pagetwo.animate .haiyouhuafei {
  -webkit-animation: outofsight 3.8s, dropDown 0.8s 3.8s, upAndDown 1s 5.4s infinite linear;
  animation: outofsight 3.8s, dropDown 0.8s 3.8s, upAndDown 1s 5.4s infinite linear;
}

/* line 181, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree {
  background: url('../../../images/wap/wechat-public/publicize/p3/bg.png?1433238958');
  background-size: cover;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree .zhangdanchaxun {
  top: 0;
  padding-top: 16.4%;
  margin-left: -43.94%;
  margin-top: 5.084%;
  width: 67.6%;
  background: url('../../../images/wap/wechat-public/publicize/p3/text/zhangdanchaxun.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree .zhegegongne {
  top: 0;
  padding-top: 9.33333%;
  margin-left: -43.932%;
  margin-top: 23.33333%;
  width: 69.73333%;
  background: url('../../../images/wap/wechat-public/publicize/p3/text/zhegegongne.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree .da {
  top: 0;
  padding-top: 24.26667%;
  margin-left: -45.96667%;
  margin-top: 36.4%;
  width: 26.26667%;
  background: url('../../../images/wap/wechat-public/publicize/p3/text/da.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree .jia {
  top: 0;
  padding-top: 25.33333%;
  margin-left: -15.84%;
  margin-top: 36.73333%;
  width: 26.4%;
  background: url('../../../images/wap/wechat-public/publicize/p3/text/jia.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree .xian {
  top: 0;
  padding-top: 12.4%;
  margin-left: 13.34667%;
  margin-top: 36.58%;
  width: 12.13333%;
  background: url('../../../images/wap/wechat-public/publicize/p3/text/xian.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree .zhidao {
  top: 0;
  padding-top: 12.66667%;
  margin-left: 12.93333%;
  margin-top: 49.4%;
  width: 25.86667%;
  background: url('../../../images/wap/wechat-public/publicize/p3/text/zhidao.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree .tanhao {
  top: 0;
  padding-top: 11.46667%;
  margin-left: 41.33333%;
  margin-top: 50.45333%;
  width: 2.66667%;
  background: url('../../../images/wap/wechat-public/publicize/p3/text/tanhao.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree .buyongpaidui {
  top: 0;
  padding-top: 19.2%;
  margin-left: 20.96667%;
  margin-top: 67.2%;
  width: 24.66667%;
  background: url('../../../images/wap/wechat-public/publicize/p3/text/buyongpaidui.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree .guanzhugongzhonghao {
  top: 50%;
  padding-top: 35.46667%;
  margin-left: -46.06667%;
  margin-top: 30.14667%;
  width: 92.13333%;
  background: url('../../../images/wap/wechat-public/publicize/p3/text/guanzhugongzhonghao.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagethree .human {
  top: 50%;
  padding-top: 101.6%;
  margin-left: -50%;
  margin-top: -35.56%;
  width: 100%;
  background: url('../../../images/wap/wechat-public/publicize/p3/human.png?1433238958') no-repeat;
  background-size: 100% 100%;
}

/* line 7, ../../../sass/wap/wechat-public/_ani_pagethree.scss */
.pagethree.animate .human {
  -webkit-animation: outofsight 0.5s, bounceInDown 0.6s 0.5s;
  animation: outofsight 0.5s, bounceInDown 0.6s 0.5s;
}
/* line 16, ../../../sass/wap/wechat-public/_ani_pagethree.scss */
.pagethree.animate .zhangdanchaxun {
  -webkit-animation: outofsight 1.1s, dropDown 0.6s 1.1s;
  animation: outofsight 1.1s, dropDown 0.6s 1.1s;
}
/* line 23, ../../../sass/wap/wechat-public/_ani_pagethree.scss */
.pagethree.animate .zhegegongne {
  -webkit-animation: outofsight 1.8s, dropDown 0.6s 1.8s;
  animation: outofsight 1.8s, dropDown 0.6s 1.8s;
}
/* line 30, ../../../sass/wap/wechat-public/_ani_pagethree.scss */
.pagethree.animate .da, .pagethree.animate .jia {
  -webkit-animation: outofsight 2.5s, dropDown 0.6s 2.5s;
  animation: outofsight 2.5s, dropDown 0.6s 2.5s;
}
/* line 38, ../../../sass/wap/wechat-public/_ani_pagethree.scss */
.pagethree.animate .xian {
  -webkit-animation: outofsight 3.2s, dropDown 0.6s 3.2s;
  animation: outofsight 3.2s, dropDown 0.6s 3.2s;
}
/* line 44, ../../../sass/wap/wechat-public/_ani_pagethree.scss */
.pagethree.animate .zhidao, .pagethree.animate .tanhao {
  -webkit-animation: outofsight 3.2s, dropDown 0.6s 3.2s;
  animation: outofsight 3.2s, dropDown 0.6s 3.2s;
}
/* line 55, ../../../sass/wap/wechat-public/_ani_pagethree.scss */
.pagethree.animate .guanzhugongzhonghao {
  -webkit-animation: outofsight 4.6s, slideInUp 0.8s 4.6s, upAndDown 1s 5.4s infinite linear;
  animation: outofsight 4.6s, slideInUp 0.8s 4.6s, upAndDown 1s 5.4s infinite linear;
}
/* line 65, ../../../sass/wap/wechat-public/_ani_pagethree.scss */
.pagethree.animate .buyongpaidui {
  -webkit-animation: outofsight 3.8s, dropDown 0.8s 3.8s, upAndDown 1s 5.4s infinite linear;
  animation: outofsight 3.8s, dropDown 0.8s 3.8s, upAndDown 1s 5.4s infinite linear;
}

/* line 199, ../../../sass/wap/wechat-public/publicize.scss */
.pagefour {
  background: url('../../../images/wap/wechat-public/publicize/p4/bg.png?1433238958');
  background-size: cover;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagefour .laidoulaile {
  top: 0;
  padding-top: 8.93333%;
  margin-left: -42.18%;
  margin-top: 4.91333%;
  width: 44.4%;
  background: url('../../../images/wap/wechat-public/publicize/p4/text/laidoulaile.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagefour .mashangguanzhu {
  top: 0;
  padding-top: 7.6%;
  margin-left: -41.8%;
  margin-top: 16.72%;
  width: 63.33333%;
  background: url('../../../images/wap/wechat-public/publicize/p4/text/mashangguanzhu.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagefour .tianyiyonghuzhongxin {
  top: 0;
  padding-top: 13.46667%;
  margin-left: -42.13333%;
  margin-top: 29.62667%;
  width: 84.26667%;
  background: url('../../../images/wap/wechat-public/publicize/p4/text/tianyiyonghuzhongxin.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagefour .quanzhangwo {
  top: 0;
  padding-top: 9.06667%;
  margin-left: -41.684%;
  margin-top: 47.14667%;
  width: 81.73333%;
  background: url('../../../images/wap/wechat-public/publicize/p4/text/quanzhangwo.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagefour .shibieerweima {
  top: 0;
  padding-top: 15.33333%;
  margin-left: -39.26667%;
  margin-top: 132.63333%;
  width: 78.53333%;
  background: url('../../../images/wap/wechat-public/publicize/p4/text/shibieerweima.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagefour .figure {
  top: 0;
  padding-top: 9.86667%;
  margin-left: -1.04%;
  margin-top: 123.33333%;
  width: 10.4%;
  background: url('../../../images/wap/wechat-public/publicize/p4/figure.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.pagefour .qrcode {
  top: 0;
  padding-top: 57.33333%;
  margin-left: -28.66667%;
  margin-top: 61.92%;
  width: 57.33333%;
  background: url('../../../images/wap/wechat-public/publicize/p4/qrcode.png?1433238958') no-repeat;
  background-size: 100% 100%;
}
/* line 212, ../../../sass/wap/wechat-public/publicize.scss */
.pagefour .qrcode-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}

/* line 7, ../../../sass/wap/wechat-public/_ani_pagefour.scss */
.pagefour.animate .laidoulaile {
  -webkit-animation: outofsight 0.5s, dropDown 0.6s 0.5s;
  animation: outofsight 0.5s, dropDown 0.6s 0.5s;
}
/* line 15, ../../../sass/wap/wechat-public/_ani_pagefour.scss */
.pagefour.animate .mashangguanzhu {
  -webkit-animation: outofsight 0.5s, dropDown 0.6s 0.5s;
  animation: outofsight 0.5s, dropDown 0.6s 0.5s;
}
/* line 21, ../../../sass/wap/wechat-public/_ani_pagefour.scss */
.pagefour.animate .tianyiyonghuzhongxin {
  -webkit-animation: outofsight 1.2s, dropDown 0.6s 1.2s;
  animation: outofsight 1.2s, dropDown 0.6s 1.2s;
}
/* line 28, ../../../sass/wap/wechat-public/_ani_pagefour.scss */
.pagefour.animate .quanzhangwo {
  -webkit-animation: outofsight 1.2s, dropDown 0.6s 1.2s;
  animation: outofsight 1.2s, dropDown 0.6s 1.2s;
}
/* line 36, ../../../sass/wap/wechat-public/_ani_pagefour.scss */
.pagefour.animate .qrcode {
  -webkit-animation: outofsight 1.8s, dropDown 0.6s 1.8s;
  animation: outofsight 1.8s, dropDown 0.6s 1.8s;
}
/* line 49, ../../../sass/wap/wechat-public/_ani_pagefour.scss */
.pagefour.animate .shibieerweima {
  -webkit-animation: outofsight 3.0s, slideInUp 0.8s 3.0s, upAndDown 1s 3.8s infinite linear;
  animation: outofsight 3.0s, slideInUp 0.8s 3.0s, upAndDown 1s 3.8s infinite linear;
}
/* line 59, ../../../sass/wap/wechat-public/_ani_pagefour.scss */
.pagefour.animate .figure {
  -webkit-animation: outofsight 2.4s, slideInDown 0.6s 2.4s, upAndDown 1s 3.8s infinite linear;
  animation: outofsight 2.4s, slideInDown 0.6s 2.4s, upAndDown 1s 3.8s infinite linear;
}

/* line 221, ../../../sass/wap/wechat-public/publicize.scss */
.landscape-tips {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: #ff7967;
  text-align: center;
}
/* line 231, ../../../sass/wap/wechat-public/publicize.scss */
.landscape-tips .phone {
  display: inline-block;
  -webkit-animation: yaohuang 1.6s infinite linear;
  animation: yaohuang 1.6s infinite linear;
}
/* line 238, ../../../sass/wap/wechat-public/publicize.scss */
.landscape-tips .tips-text {
  margin-top: 4.27286%;
  font-size: 20px;
  color: #fff;
}
/* line 87, ../../../sass/wap/wechat-public/publicize.scss */
.landscape-tips .phone {
  top: 50%;
  padding-top: 14.9925%;
  margin-left: 0%;
  margin-top: 14.9925%;
  width: 9.74513%;
  background: url('../../../images/wap/wechat-public/publicize/p1/phone.png?1433476280') no-repeat;
  background-size: 100% 100%;
}
